/* variables */
:root {
    /* navy blue */
    --headline-color: #2E2F42;
    /* slate */
    --secondary-color: #434455;
    /* iris */
    --logo-style-color: #4D5AE5;

    --button-color: #404BBF;
    --logo-footer-color: #F4F4FD;
    --simple-white:#fff

}




a {
    text-decoration: none;
}
.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--secondary-color) ;
}

/* logo */

.logo-first-part {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:var(--logo-style-color);
    text-transform: uppercase;
}

.logo-second-part {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--headline-color);
    text-transform: uppercase;
}
.logo-second-part-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--logo-footer-color);
    text-transform: uppercase;
}

/* Portfolio page */
/* Navigation */

.navigation-list {
    font-weight: 500;
    font-size: 16px;
        line-height: 24px;
    letter-spacing: 0.02em;
color: var(--headline-color);
}
.active-page {
    color: var(--logo-style-color);
}

.active-page:hover,
.active-page:focus {
    color: var(--secondary-color)
}

.other-page{
    color: var(--headline-color);
}
.other-page:hover,
.other-page:focus {
    color: var(--logo-style-color)
}


.address-item {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
    letter-spacing: 0.02em;
}
.address-item:hover,
.address-item:focus {
    color: var(--logo-style-color);
}
/* main */

/* filter */

.filter-item-first {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: var(--button-color);
    border-style: unset;
    cursor: pointer;
}

.filter-item-first:hover,
.filter-item-first:focus {
    background-color: var(--logo-style-color);
}
.filter-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--logo-style-color) ;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.filter-item:hover,
.filter-item:focus {
    background-color: var(--simple-white);
}

.examples-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--headline-color);
}

.example-type {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.footer {
    background-color: var(--headline-color)
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* Main page */

.headline-section {
    background: var(--headline-color);
}
.headline-section-title {
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--simple-white);
}
.headline-section-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--simple-white);
    background-color: var(--logo-style-color);
}
.headline-section-button:hover,
.headline-section-button:focus {
    background-color:var(--button-color) ;
}

/* Our Qualities */

.title-secondary-level {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headline-color);
}
.title-third-level {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--headline-color);
}
.paragraph{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}